<a id="item31"></a>

## A. Build a baseline model

A. Build a baseline model 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

In [1]:
#import initial libraries
import pandas as pd
import numpy as np

In [2]:
#import data to lab
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#some detail about data
print('data is in %i rows and %i columbns' %(concrete_data.shape[0],concrete_data.shape[1]))
concrete_data.describe()

data is in 1030 rows and 9 columbns

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
#check dataset and clean it
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

It looks clean!

#### Split data into predictors and target

In [5]:
# predictors are all columns except Strength
# target are Strength column
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split
helper function from Scikit-learn.

In [6]:
#split data into 
from sklearn.model_selection import train_test_split
p_train, p_test, t_train, t_test = train_test_split(predictors, target, test_size=0.3)

In [7]:
#import keras and more necessary packages
import keras

2023-10-23 13:25:00.224337: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-10-23 13:25:00.243794: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-10-23 13:25:00.243821: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-10-23 13:25:00.243834: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-10-23 13:25:00.247761: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-10-23 13:25:00.248170: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-10-23 13:25:00.784562: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [8]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build Network

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

In [9]:
p_train.shape[1]

8

In [10]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10,input_shape=(p_train.shape[1],), activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train and Test the Network

Let's call the function now to create our model.

In [11]:
# build the model
model = regression_model()

In [12]:
# fit the model
model.fit(p_train, t_train, epochs=50, verbose=0)

In [13]:
from sklearn.metrics import mean_squared_error
mse_list = []
t_pred = model.predict(p_test)
mse = mean_squared_error(t_test, t_pred)
mse_list.append(mse)

10/10 [==============================] - 0s 592us/step

5: Calculate mean and standard deviation of mean squared errors

In [14]:
mean_mse_A = np.mean(mse_list)
std_mse_A = np.std(mse_list)

print("Mean Squared Error (MSE) Mean:", mean_mse_A)
print("Mean Squared Error (MSE) Standard Deviation:", std_mse_A)

Mean Squared Error (MSE) Mean: 127.10694247550806
Mean Squared Error (MSE) Standard Deviation: 0.0

## B. Normalize the data 

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

In [15]:
#let's normalize data
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [16]:
#split normalized data into 
pn_train, pn_test, tn_train, tn_test = train_test_split(predictors, target, test_size=0.3)

In [17]:
# fit the model
model.fit(pn_train, tn_train, epochs=50, verbose=0)

In [18]:
#predict the target values and measure the errors
mse_list = []
t_pred = model.predict(p_test)
mse = mean_squared_error(t_test, t_pred)
mse_list.append(mse)

mean_mse_B = np.mean(mse_list)
std_mse_B = np.std(mse_list)

print("Mean Squared Error (MSE) Mean:", mean_mse_B)
print("Mean Squared Error (MSE) Standard Deviation:", std_mse_B)

10/10 [==============================] - 0s 617us/step
Mean Squared Error (MSE) Mean: 110.44331382514868
Mean Squared Error (MSE) Standard Deviation: 0.0

### it seems mean squared error is reduced in compare to previous part!

## C. Increate the number of epochs 

Repeat Part B but use 100 epochs this time for training.

How does the mean of the mean squared errors compare to that from Step B?

In [19]:
# fit the model
model.fit(pn_train, tn_train, epochs=100, verbose=0)

In [20]:
#predict the target values and measure the errors for new case
mse_list = []
t_pred = model.predict(p_test)
mse = mean_squared_error(t_test, t_pred)
mse_list.append(mse)

mean_mse_C = np.mean(mse_list)
std_mse_C = np.std(mse_list)

print("Mean Squared Error (MSE) Mean:", mean_mse_C)
print("Mean Squared Error (MSE) Standard Deviation:", std_mse_C)

10/10 [==============================] - 0s 473us/step
Mean Squared Error (MSE) Mean: 106.78170018842677
Mean Squared Error (MSE) Standard Deviation: 0.0

### it seems mean squared error is decreased in compare to previous part again!

## D. Increase the number of hidden layers 

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?

In [27]:
#define new model

def new_regression_model ():
    model = Sequential()
    model.add (Dense(10, input_shape = (p_train.shape[1],), activation = 'relu'))
    model.add (Dense(10, activation = 'relu'))
    model.add (Dense(10, activation = 'relu'))
    model.add (Dense(1))
    
    model.compile (optimizer='adam', loss= 'mean_squared_error')
    
    return model

In [28]:
new_model = new_regression_model()

In [29]:
p_train.shape[1]

8

In [30]:
new_model.fit(pn_train, tn_train, epochs=100, verbose=0)

In [31]:
#predict the target values and measure the errors for new case
mse_list = []
nt_pred = new_model.predict(pn_test)
mse = mean_squared_error(tn_test, nt_pred)
mse_list.append(mse)

mean_mse_D = np.mean(mse_list)
std_mse_D = np.std(mse_list)

print("Mean Squared Error (MSE) Mean:", mean_mse_D)
print("Mean Squared Error (MSE) Standard Deviation:", std_mse_D)

10/10 [==============================] - 0s 728us/step
Mean Squared Error (MSE) Mean: 91.12185788574051
Mean Squared Error (MSE) Standard Deviation: 0.0

## mean squared error decreases ones again!
It happend after runing all cells several times.

# Total report of all steps:

In [32]:
Report = {
    'part': ['A', 'B', 'C', 'D'],
    'Mean Squared Error': [mean_mse_A, mean_mse_B, mean_mse_C, mean_mse_D],
}
df=pd.DataFrame(Report)
print(df)

  part  Mean Squared Error
0    A          127.106942
1    B          110.443314
2    C          106.781700
3    D           91.121858